@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../../fonts/Inter-roman.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('../../fonts/Inter-italic.var.woff2') format('woff2');
}

body {
  font-family: 'Inter', sans-serif;
}

.md-footer-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.md-footer-nav__item {
  display: inline-block;
  margin: 0 8px;
}

.md-footer-nav__item a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.md-footer-nav__item i {
  font-size: 1.5rem;
}

:root {
  --md-primary-fg-color:               hsla(212, 27%, 10%, 1);
  --md-primary-fg-color--light:        hsla(212, 27%, 30%, 1);
  --md-primary-fg-color--dark:         hsla(212, 27%, 5%, 1);
  --md-primary-bg-color:               hsla(222, 25%, 92%, 1);
  --md-primary-bg-color--light:        hsla(0, 0%, 100%, 0.7);

  --md-accent-fg-color:                hsla(332, 84%, 63%, 1);
  --md-accent-fg-color--transparent:   hsla(332, 84%, 63%, 0.1);
  --md-accent-bg-color:                hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7);
}

h1, h2 {
  font-weight: bold;
}